<!-- setting nav -->
<nav>
    <div class="logo">

      <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

    </div>

    <!-- log out button -->
    <% if user_signed_in? %>
        <div class="settingLogOut">
            <%= form_tag(destroy_user_session_path, :method => :delete) do %>
              <%= submit_tag "Logout", class: "logOutBtn"%>
            <% end %>
        </div>
    <% end %>

    <div class="profileNav">

      <% if user_signed_in? %>

              <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

              <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

              <%= link_to image_tag("/assets/favorite_icon.jpg"), "/users/#{@user.id}/favorites" %>

      <% end %>
    </div>


</nav>

<body id="editBody">
  <div class="editModal">

      <h2 id="editH1">Edit <%= resource_name.to_s.humanize %></h2>

      <!-- <hr class="editHr"> -->

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <!-- <%= f.label :diet, html: {class: "selectLabel"} %> <br> -->
          <%= f.select(:diet, ["No Restrictions", "Low Glycemic", "Lactose Free", "Gluten Free", "Mediterranean", "Paleo", "Vegetarian", "Vegan"], { :prompt => "Select Diet"}, class: "selectField", autofocus: true ) %>
        </div>

        <br>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, placeholder: "username", autofocus: true, class: "formField" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder: "email@email.com", class: "formField" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <!-- <%= f.label "New Password" %> <br>  -->
          <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, placeholder: "new password", autocomplete: "off", class: "formField" %>

        </div>

        <div class="field">
          <!-- <%= f.label "New Password Confirmation" %><br /> -->
          <%= f.password_field :password_confirmation, placeholder: "confirm new password", autocomplete: "off", class: "formField" %>
        </div>

        <div class="field">
          <!-- <%= f.label :current_password %> <br> -->
          <%= f.password_field :current_password, placeholder: "current password", autocomplete: "off", class: "formField" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn", id: "editBtn" %>
        </div>
      <% end %>

      <br>
      <br>

        <hr class="editHr">

        <div class="cancelDiv">

          <h4 id="editH4">Cancel Account?</h4>

          <p><%= button_to "Cancel", registration_path(resource_name), class: "btn", id: "editBtn", data: { confirm: "Are you sure?" }, method: :delete%></p>

        </div>

  </div>

</body>
