<!-- favorite nav -->
<nav>

    <div class="logo">
      <a href="/"><h1 id="logoH1">MEAL<span id="logoSpan">123</span></h1></a>
    </div>

    <div class="favoriteNav">

      <% if user_signed_in? %>

              <a href="/users/<%= @user.id %>/mealplans"><img src="/assets/home_icon.jpg" alt="home"></a>

              <a href="/users/<%= @user.id %>/list"><img src="/assets/list_icon.jpg" alt="grocery list"></a>

              <a href="/users/edit"><img src="/assets/setting_icon.jpg" alt="settings"></a>

      <% end %>
    </div>
</nav>


<div class="favoriteRecipes" id ="sunday">

    <% @favorites.each do |f| %>

        <div class="recipeContainer">

          <div class="recipeImgContainer" id="breakfast" style="background-image: url(<%=f.recipe.recipe_img%>);">

          </div>

              <div class="recipeContent">

                <!-- delete -->
                <div class="recipeFavBtn">
                    <%= form_tag("/users/#{f.user_id}/favorites/#{f.id}", :method => :delete, :class => "recipeFavForm") do %>

                      <!-- handles the authenticitytoken error -->
                      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                      <%= image_submit_tag("trash_icon.png", class: "favBtnIcon") %>
                    <% end %>
                </div>

                <p class="recipeH2">
                  <%= f.recipe.category %>
                </p>

                <h5 class="recipeP">
                  <a href="/users/<%= f.user_id %>/recipes/<%= f.recipe.id %>" class="profileA">
                    <%= f.recipe.label %>
                  </a>
                </h5>

              </div>

        </div>
    <% end %>

</div>
