<div class= "sundayContainer" id="favDiv">
  <!-- favorite nav -->
  <nav>

      <div class="logo">

        <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

      </div>


      <div class="favoriteNav">

        <% if user_signed_in? %>

                <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

                <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

                <%= link_to image_tag("/assets/setting_icon.jpg"), "/users/edit" %>

        <% end %>
      </div>
  </nav>


  <ul class="sunProfileRecipes">
    <!-- IF NO favorites TO DISPLAY -->
    <% if @favorites.blank? %>

        <div class="noFavMessage">
          <h1>Try the home page.</h1>
          <p>You might see something you like.</p>
        </div>

    <% else %>

        <% @favorites.each do |f| %>

            <li class="sundayLi">

              <div class="sunRecipeContainer">

                <div class="sunRecipeImgContainer" id="breakfast" style="background-image: url(<%=f.recipe.recipe_img%>);">

                </div>

                    <div class="recipeContent">

                      <div class="recipeIconsContainer">

                        <!-- assign to mealplan -->

                            <%= form_tag("/users/#{f.user_id}/recipes/#{f.recipe_id}/user_recipes/new", :method => :get, :class => "iconForm") do %>
                              <!-- handles the authenticitytoken error -->
                              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                              <%= image_submit_tag("plus_icon.png", class: "recPlusIcon") %>
                            <% end %>


                        <!-- delete -->

                            <%= form_tag("/users/#{f.user_id}/favorites/#{f.id}", :method => :delete, :class => "sunRecipeFavBtn", data: { confirm: 'Are you sure you want to delete?' }, :class => "iconForm") do %>

                              <!-- handles the authenticitytoken error -->
                              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                              <%= image_submit_tag("trash_icon.png", class: "deleteIcon") %>
                            <% end %>


                      </div>


                      <p class="categoryP">
                        <%= f.recipe.category %>
                      </p>

                      <h5 class="labelH5">

                        <%= link_to "#{f.recipe.label.truncate(30)}", "/users/#{f.user_id}/recipes/#{f.recipe.id}", class: "profileA" %>

                      </h5>



                    </div>


              </div>

            </li>

        <% end %>

    <% end %>

  </ul>

</div>
