<!-- home nav -->
<nav>

    <div class="logo">

      <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

    </div>

    <div class="homeNav">

      <% if user_signed_in? %>

              <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

              <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

              <%= link_to image_tag("/assets/favorite_icon.jpg"), "/users/#{@user.id}/favorites" %>

              <%= link_to image_tag("/assets/setting_icon.jpg"), "/users/edit" %>

      <% end %>
    </div>
</nav>

<body id="editBody">
  <div class="editModal">

      <h2 id="editH1">Edit Recipe Assignment</h2>

      <%= form_for @user_recipe, :url => { :action => "update" } do |f| %>

          <div class="field">
            <%= f.collection_select(:recipe_id, @recipes, :id, :label, :prompt => 'Select Recipe', class: "selectField", autofocus: true ) %>
          </div>

          <br>

          <%= f.submit "Assign", class: "btn", id: "editBtn" %>

      <% end %>

  </div>

</body>
