<!-- home nav -->
<nav>

    <div class="logo">

      <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

    </div>

    <div class="homeNav">

      <% if user_signed_in? %>

              <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

              <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

              <%= link_to image_tag("/assets/favorite_icon.jpg"), "/users/#{@user.id}/favorites" %>

              <%= link_to image_tag("/assets/setting_icon.jpg"), "/users/edit" %>

      <% end %>
    </div>
</nav>

<body id="editBody">
  <div class="editModal">

      <h2 id="editH1">Assign Recipe to Mealplan</h2>

      <%= form_for @user_recipe, :url => { :action => "create" } do |f| %>

          <!-- handles the authenticitytoken error -->
          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

          <%= f.hidden_field :user_id, :value => @user.id%>

          <%= f.hidden_field :recipe_id, :value => @recipe%>

          <div class="field">
            <%= f.select(:day, ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], { :prompt => "Select Day"}, class: "selectField", autofocus: true ) %>
          </div>

          <br>

          <div class="field">
            <%= f.select(:category, ["Breakfast", "Brunch", "Lunch", "Snack", "Dinner", "Dessert"], { :prompt => "Select Meal Category"}, class: "selectField") %>
          </div>

          <br>

          <%= f.submit "Assign", class: "btn", id: "editBtn" %>

      <% end %>

  </div>

</body>
