<div class= "sundayContainer" id="favDiv">
  <!-- favorite nav -->
  <nav>

      <div class="logo">
        <a href="/"><h1 id="logoH1">MEAL<span id="logoSpan">123</span></h1></a>
      </div>

      <div class="favoriteNav">

        <% if user_signed_in? %>

                <a href="/users/<%= @user.id %>/recipes/new"><img src="/assets/plus_icon.png" alt="add recipe" id="plusNavIcon"></a>

                <a href="/users/<%= @user.id %>/mealplans"><img src="/assets/list_icon.jpg" alt="mealplan"></a>

                <a href="/users/<%= @user.id %>/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

                <a href="/users/edit"><img src="/assets/setting_icon.jpg" alt="settings"></a>

        <% end %>
      </div>
  </nav>


  <ul class="sunProfileRecipes">

    <!-- IF NO RECIPES TO DISPLAY -->
    <% if @recipes.blank? %>

      <div class="noMealsMessage">
        <h1>No recipes to display.</h1>

        <p>Try adjusting your diet preferences.</p>
      </div>

    <% else %>

    <% @recipes.each do |r| %>

      <li class="sundayLi">

        <div class="sunRecipeContainer">

          <div class="sunRecipeImgContainer" id="breakfast" style="background-image: url(<%=r.recipe_img%>);">

          </div>

              <div class="recipeContent">


                <div class="recipeIconsContainer">

                  <!-- favorite -->
                      <%= form_tag("/users/#{@user.id}/recipes/#{r.id}", :method => :profile_add_favorite, :class => "iconForm") do %>
                        <!-- handles the authenticitytoken error -->
                        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                        <!-- checks to see if recipe is favorited -->
                          <% if @find.include? (r.id) %>
                              <%= image_submit_tag("favorited_icon.png", class: "recFavIcon") %>
                          <% else %>
                            <%= image_submit_tag("favorite_icon.png", class: "recFavIcon") %>
                          <% end %>


                      <% end %>


                  <!-- assign to mealplan -->

                      <%= form_tag("/users/#{@user.id}/recipes/#{r.id}/user_recipes/new", :method => :get, :class => "iconForm") do %>
                        <!-- handles the authenticitytoken error -->
                        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                        <%= image_submit_tag("plus_icon.png", class: "recPlusIcon") %>
                      <% end %>

                </div>



                <p class="categoryP">
                  <%= r.category %>
                </p>

                <h5 class="labelH5">
                  <a href="/users/<%= @user.id %>/recipes/<%= r.id %>" class="profileA">
                    <%= r.label.truncate(30) %>
                  </a>
                </h5>

              </div>

        </div>

      </li>

    <% end %>

    <% end %>



  </ul>
</div>
