<!-- recipe nav -->
<nav>

    <div class="logo">
      <a href="/"><h1 id="logoH1">MEAL<span id="logoSpan">123</span></h1></a>
    </div>

    <div class="recipeNav">

      <% if user_signed_in? %>

          <a href="/users/<%= @user.id %>/recipes"><img src="/assets/home_icon.jpg" alt="home"></a>

          <a href="/users/<%= @user.id %>/mealplans"><img src="/assets/list_icon.jpg" alt="mealplan"></a>

          <a href="/users/<%= @user.id %>/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

          <a href="/users/edit"><img src="/assets/setting_icon.jpg" alt="settings"></a>

      <% end %>
    </div>
</nav>

<body id="recipeBody">

  <div class="recipeShowContainer">

    <div class="recipeShowImg" style="background-image: url(<%= @recipe.recipe_img%>); background-repeat: no-repeat; background-size: cover;">
    </div>

      <div id="recipeName">
        <h2 id="recipeNameH2">
          <%= @recipe.label%>
        </h2>
      </div>

      <div class="recipeDetails">

          <div class="showFavBtn">
            <%= form_tag(user_recipe_path, :method => :add_favorite, :class => "recipeFavForm") do %>
                <!-- handles the authenticitytoken error -->
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                <!-- checks to see if recipe is favorited -->
                <% @user.favorites.each do |f| %>
                  <% if f.recipe_id == @recipe.id %>
                      <%= image_submit_tag("favorited_icon.png", class: "favBtnIcon") %>
                  <% end %>
                <% end %>

                <% @user.favorites.each do |f| %>
                  <% if f.recipe_id != @recipe.id %>
                      <%= image_submit_tag("favorite_icon.jpg", class: "favBtnIcon") %>
                  <% end %>
                <% end %>

                <% if @user.favorites.blank? %>
                    <%= image_submit_tag("favorite_icon.jpg", class: "favBtnIcon") %>
                <% end %>

            <% end %>
          </div>

          <div class="recipeCategory">
            <h3 class="recipeH4">Ingredients</h3>
              <ul class="recipeUl">

                <li>
                  <%= simple_format (@recipe.ingredients) %>
                </li>

              </ul>

          </div>

  
          <hr>

          <div class="recipeCategory">
            <h3 class="recipeH4">directions</h3>
              <ol class="recipeOl" style="white-space: pre-line;">
                <li>
                <%= @recipe.directions.gsub(/\r\n/, '<br><br>').html_safe %>
                </li>
              </ol>
          </div>
  </div>
</body>
