<body id="homeBody">

    <!-- home nav -->
    <nav>
        <div class="logo">
          <a href="/"><h1 id="logoH1">MEAL<span id="logoSpan">123</span></h1></a>
        </div>

        <div class="homeNav">

          <% if user_signed_in? %>

                  <a href="/users/<%= @user.id %>/recipes"><img src="/assets/home_icon.jpg" alt="home"></a>

                  <a href="/users/<%= @user.id %>/mealplans"><img src="/assets/list_icon.jpg" alt="mealplan"></a>

                  <a href="/users/<%= @user.id %>/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

                  <a href="/users/edit"><img src="/assets/setting_icon.jpg" alt="settings"></a>

          <% end %>
        </div>
    </nav>


    <!-- login button -->
    <% if user_signed_in? %>
    <% else %>
        <%= form_tag(new_user_session_path, :method => :get) do %>
          <%= submit_tag "Login", class: "btn", id: "hb1"%>
        <% end %>
    <% end %>



    <div class="homeModal">

      <h1 id="carH1">Tired of <br>Takeout?</h1>

      <% if user_signed_in? %>
      <% else %>
          <%= form_tag(new_user_registration_path, :method => :get) do %>
            <%= submit_tag "Sign Up!", class: "btn", id: "hb2"%>
          <% end %>
      <% end %>

    </div>



</body>
