<body id="homeBody">

    <!-- home nav -->
    <nav>

      <div class="logo">

        <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

      </div>

        <div class="homeNav">

          <% if user_signed_in? %>

                  <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

                  <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

                  <%= link_to image_tag("/assets/favorite_icon.jpg"), "/users/#{@user.id}/favorites" %>

                  <%= link_to image_tag("/assets/setting_icon.jpg"), "/users/edit" %>

          <% end %>
        </div>
    </nav>


    <!-- login button -->
    <% if user_signed_in? %>
    <% else %>
        <%= form_tag(new_user_session_path, :method => :get) do %>
          <%= submit_tag "Login", class: "btn", id: "hb1"%>
        <% end %>
    <% end %>



    <div class="homeModal">

      <h1 id="carH1">Tired of <br>Takeout?</h1>

      <% if user_signed_in? %>
      <% else %>
          <%= form_tag(new_user_registration_path, :method => :get) do %>
            <%= submit_tag "Sign Up!", class: "btn", id: "hb2"%>
          <% end %>
      <% end %>

    </div>



</body>
