<div class= "sundayContainer">

  <!-- profile nav -->
  <nav>

    <div class="logo">

      <%= link_to "<h1 id='logoH1'>MEAL<span id='logoSpan'>123</span></h1>".html_safe, "/" %>

    </div>

      <div class="homeNav">

        <% if user_signed_in? %>

                <%= link_to image_tag("/assets/home_icon.jpg"), "/users/#{@user.id}/recipes" %>

                <%= link_to image_tag("/assets/list_icon.jpg"), "/users/#{@user.id}/mealplans" %>

                <%= link_to image_tag("/assets/favorite_icon.jpg"), "/users/#{@user.id}/favorites" %>

                <%= link_to image_tag("/assets/setting_icon.jpg"), "/users/edit" %>

        <% end %>
      </div>
  </nav>

  <!-- weekly calendar  -->
  <div class="sunCalendar">

        <%= link_to "<div class='sunday'><p class='day'>SU</p></div>".html_safe, "/users/#{@user.id}/mealplans/sunday", id: "calBtn" %>

        <%= link_to "<div class='monday' id='monBtn'><p class='day'>MO</p></div>".html_safe, "/users/#{@user.id}/mealplans/monday", id: "calBtn" %>

        <%= link_to "<div class='tuesday' id='tueBtn'><p class='day'>TU</p></div>".html_safe, "/users/#{@user.id}/mealplans/tuesday", id: "calBtn" %>

        <%= link_to "<div class='wednesday' id='wedBtn'><p class='day'>WE</p></div>".html_safe, "/users/#{@user.id}/mealplans/wednesday", id: "calBtn" %>

        <%= link_to "<div class='thursday' id='thurBtn'><p class='day'>TH</p></div>".html_safe, "/users/#{@user.id}/mealplans/thursday", id: "calBtn" %>

        <%= link_to "<div class='friday' id='friBtn'><p class='day'>FR</p></div>".html_safe, "/users/#{@user.id}/mealplans/friday", id: "calBtn" %>

        <%= link_to "<div class='saturday' id='satBtn'><p class='day'>SA</p></div>".html_safe, "/users/#{@user.id}/mealplans/saturday", id: "calBtn" %>

  </div>


  <!-- displays sunday recipes -->
  <ul class="sunProfileRecipes">

      <!-- IF NO MEALS TO DISPLAY -->
      <% if @sat_recipes.blank? %>

        <div class="noMealsMessage">
          <h1>Your meal plan is hungry.</h1>

          <p>Go to the home page and start adding and favoriting recipes!</p>
        </div>

      <% else %>

      <% @sat_recipes.each do |r| %>

        <li class="sundayLi">

          <div class="sunRecipeContainer">

            <div class="sunRecipeImgContainer" style="background-image: url(<%=r.recipe.recipe_img%>);">
            </div>

            <div class="recipeContent">

              <div class="recipeIconsContainer">
                  <!-- edit -->
                    <%= form_tag("/users/#{r.user_id}/user_recipes/#{r.id}/edit", :method => :get, :class => "iconForm") do %>
                      <!-- handles the authenticitytoken error -->
                      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                      <%= image_submit_tag("edit_icon.png", class: "editIcon") %>
                    <% end %>


                <!-- favorite -->

                    <%= form_tag("/users/#{r.user_id}/recipes/#{r.recipe_id}", :method => :profile_add_favorite, :class => "iconForm") do %>
                      <!-- handles the authenticitytoken error -->
                      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                      <!-- checks to see if recipe is favorited -->
                        <% if @find.include? (r.id) %>
                            <%= image_submit_tag("favorited_icon.png", class: "recFavIcon") %>
                        <% else %>
                          <%= image_submit_tag("favorite_icon.png", class: "recFavIcon") %>
                        <% end %>

                    <% end %>


                <!-- delete -->

                    <%= form_tag("/users/#{r.user_id}/user_recipes/#{r.id}", :method => :delete, data: { confirm: 'Are you sure you want to delete?' }, :class => "iconForm") do %>

                      <!-- handles the authenticitytoken error -->
                      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                      <%= image_submit_tag("trash_icon.png", class: "deleteIcon") %>
                    <% end %>

              </div>



              <p class="categoryP"><%= r.recipe.category %></p>

              <h5 class="labelH5">
                <%= link_to "#{r.recipe.label.truncate(30)}", "/users/#{r.user_id}/recipes/#{r.recipe_id}", class: "profileA" %>
              </h5>

            </div>

          </div>

        </li>

      <% end %>

      <% end %>



  </ul>

</div>
