<body id="listBody">
  <!-- list nav -->
  <nav>
      <div class="logo">
        <a href="/"><h1 id="logoH1">MEAL<span id="logoSpan">123</span></h1></a>
      </div>

      <div class="listNav">

        <% if user_signed_in? %>

                <a href="/users/<%= @user.id %>/mealplans"><img src="/assets/home_icon.jpg" alt="home"></a>

                <a href="/users/<%= @user.id %>/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

                <a href="/users/edit"><img src="/assets/setting_icon.jpg" alt="settings"></a>

        <% end %>
      </div>
  </nav>

  <!-- button, form for adding items -->
  <% if user_signed_in? %>
      <div class="addItem">

          <input id="inItem" type="text" name="" placeholder="add item">

          <input id="inCategory" type="text" name="" placeholder="category">


          <%= form_tag(destroy_user_session_path, :method => :delete) do %>
            <%= submit_tag "+", class: "plusBtn"%>
          <% end %>
      </div>
  <% end %>

  <!-- list container -->
  <div class="listContainer">

    <div class="listCategory">
      <h4 class="listh4">Produce</h4>
        <ul class="listUl">
          <% @user.recipes.each do |i| %>

              <li><input type="checkbox"><%= i.ingredients%></li>
              <!-- <li><input type="checkbox">Broccoli</li>
              <li><input type="checkbox">Squash</li>
              <li><input type="checkbox">Sweet Potatoes</li>
              <li><input type="checkbox">Green Peppers</li> -->
          <% end %>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Bakery &amp; Bread</h4>
        <ul class="listUl">
          <li><input type="checkbox">Dinner Rolls</li>
          <li><input type="checkbox">Whole Wheat Loaf</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Dairy</h4>
        <ul class="listUl">
          <li><input type="checkbox">Milk</li>
          <li><input type="checkbox">Eggs</li>
          <li><input type="checkbox">Butter</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Meat &amp; Seafood</h4>
        <ul class="listUl">
          <li><input type="checkbox">1/3 1b Lean Ground Beef</li>
          <li><input type="checkbox">1/3 1b Ground Pork</li>
          <li><input type="checkbox">1/3 1b Ground Veal</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Frozen Foods</h4>
        <ul class="listUl">
          <li><input type="checkbox">Mixed Berries</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Oils, Sauces,  Condiments</h4>
        <ul class="listUl">
          <li><input type="checkbox">Nutmeg</li>
          <li><input type="checkbox">Allspice</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Cereals &amp; Breakfast Foods</h4>
        <ul class="listUl">
          <li><input type="checkbox">Oatmeal</li>
          <li><input type="checkbox">Maple Syrup</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Pasta &amp; Rice</h4>
        <ul class="listUl">
          <li><input type="checkbox">2 boxes Penne</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Soups &amp; Canned Goods</h4>
        <ul class="listUl">
          <li><input type="checkbox">16oz Tomato Sauce</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Baking Goods</h4>
        <ul class="listUl">
          <li><input type="checkbox">Quick Rise Yeast</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Snacks &amp;amp; Crackers</h4>
        <ul class="listUl">
          <li><input type="checkbox">Chocolate</li>
        </ul>
    </div>

    <div class="listCategory">
      <h4 class="listh4">Drinks</h4>
        <ul class="listUl">
          <li><input type="checkbox">Ginger Ale</li>
        </ul>
    </div>

  </div>

</body>
